<h1>Listing assignments</h1>

<table>
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Assignment name</th>
      <th>Details</th>
      <th>Priority</th>
      <th>Date created</th>
      <th>Date due</th>
      <th>Is complete</th>
      <th>Grade received</th>
      <th>Cours</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.assignment_id %></td>
        <td><%= assignment.assignment_name %></td>
        <td><%= assignment.details %></td>
        <td><%= assignment.priority %></td>
        <td><%= assignment.date_created %></td>
        <td><%= assignment.date_due %></td>
        <td><%= assignment.is_complete %></td>
        <td><%= assignment.grade_received %></td>
        <td><%= assignment.cours_id %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_assignment_path %>
